
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.aboutus-Nw9 {
  width: 100%;
  height: 175.9rem;
}
.aboutus-Nw9 .macbook-pro-14-17-jFu {
  box-sizing: border-box;
  padding-bottom: 15.3rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.aboutus-Nw9 .macbook-pro-14-17-jFu .taskbar-4Z5 {
  margin-bottom: 2.7rem;
  box-sizing: border-box;
  padding: 3.5rem 4.3rem 2.781rem 5.3rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #dfe8f3;
  flex-shrink: 0;
}
.aboutus-Nw9 .macbook-pro-14-17-jFu .taskbar-4Z5 .ellipse-45-NZm {
  margin: 0rem 82rem 0.919rem 0rem;
  width: 8.1rem;
  height: 8.1rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-45-bg-LNs.png');
  border-radius: 4.05rem;
  flex-shrink: 0;
}
.aboutus-Nw9 .macbook-pro-14-17-jFu .taskbar-4Z5 .group-1686550877-sFd {
  margin: 1.463rem 2.6rem 0rem 0rem;
  width: 28.1rem;
  height: 7.5565rem;
  position: relative;
  border-radius: 1rem;
  flex-shrink: 0;
}
.aboutus-Nw9 .macbook-pro-14-17-jFu .taskbar-4Z5 .group-1686550877-sFd .rectangle-9661-afq {
  width: 28.1rem;
  height: 7.0331rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #bdcce0;
  border-radius: 1rem;
}
.aboutus-Nw9 .macbook-pro-14-17-jFu .taskbar-4Z5 .group-1686550877-sFd .list-your-property-Jrj {
  width: 24.6rem;
  height: 3.9rem;
  position: absolute;
  left: 1.8rem;
  top: 1.3871rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #000000;
  font-family: Inria Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.aboutus-Nw9 .macbook-pro-14-17-jFu .taskbar-4Z5 .sign-up-B9q {
  margin: 0.681rem 2.6rem 0rem 0rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #101112;
  font-family: Inria Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.aboutus-Nw9 .macbook-pro-14-17-jFu .taskbar-4Z5 .login-HTm {
  margin-top: 0.6806rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #000000;
  font-family: Inria Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.aboutus-Nw9 .macbook-pro-14-17-jFu .about-us-bzF {
  margin: 0rem 0rem 1.8rem 9.1rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.1975;
  color: #000000;
  font-family: Inria Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.aboutus-Nw9 .macbook-pro-14-17-jFu .auto-group-dghb-6g7 {
  margin: 0rem 10rem 0rem 9.1rem;
  box-sizing: border-box;
  padding: 6rem 8.1rem 6.3rem 9rem;
  width: calc(100% - 19.1rem);
  height: 135rem;
  background-color: #bdcce0;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.aboutus-Nw9 .macbook-pro-14-17-jFu .auto-group-dghb-6g7 .at-rentify-we-believe-in-making-the-process-of-finding-or-listing-a-property-for-rent-simple-efficient-and-stress-free-our-platform-is-designed-to-connect-property-owners-with-potential-tenants-providing-a-seamless-experience-for-both-parties-involved-our-mission-our-mission-is-to-redefine-the-way-people-find-and-list-rental-properties-we-aim-to-create-a-community-driven-platform-that-empowers-users-to-make-informed-decisions-about-their-housing-needs-whether-youre-a-property-owner-looking-to-showcase-your-space-or-a-tenant-searching-for-the-perfect-home-rentify-is-your-trusted-partner-in-the-rental-journey-how-rentify-works-list-your-property-create-a-detailed-profile-for-your-property-with-high-quality-images-and-essential-information-set-your-rental-terms-preferences-and-connect-with-potential-tenants-hassle-free-find-your-ideal-rental-browse-through-an-extensive-list-of-available-properties-use-advanced-search-filters-to-narrow-down-options-based-on-your-specific-requirements-why-choose-rentify-user-friendly-interface-weve-designed-our-platform-with-simplicity-in-mind-easily-navigate-through-listings-create-your-property-profile-or-find-the-ideal-rental-homeall-with-just-a-few-clicks-wide-range-of-options-explore-a-diverse-range-of-rental-properties-tailored-to-your-preferences-from-cozy-apartments-to-spacious-houses-we-have-a-collection-that-suits-every-lifestyle-transparent-and-secure-your-website-name-prioritizes-transparency-and-security-our-verification-processes-and-detailed-property-listings-ensure-a-safe-and-reliable-rental-experience-for-all-users-9eP {
  max-width: 115rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #000000;
  font-family: Inria Sans, 'Source Sans Pro';
}
